* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  width: 400px;
  background-color: rgba(14, 49, 206, 0.907);
  margin: 0 auto;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 20px;
  border: 4px solid black;
}

#screen {
  background-color: rgb(135, 135, 135);
  margin-bottom: 48px;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black ;


}

.preview {
  height: 32px;
  font-size: 24px;
}
.display {
  height: 128px;
  font-size: 64px;
}

.preview,
.display {
  display: flex;
  justify-content: end;
  align-items: center;
}

.btns-container {
  display: flex;
}

button {
  font-size: 32px;
  font-weight: bold;
  color: black;
  background-color: white;
  margin: 4px;
  padding: 8px;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black ;
}

.left-btns {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.operands {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.delete-btns,
.row {
  display: flex;
}

.num,
.delete {
  flex-grow: 1;
}

.clear,
.zero {
  flex-grow: 2.5;
}

.operand,
.clear {
  background-color: rgb(208, 22, 22);
  color: white;
}
